@font-face {
	font-family: 'glyphicons-halflings-regular';
	src:url('../fonts/glyphicons-halflings-regular.eot?prvkr');
	src:url('../fonts/glyphicons-halflings-regular.eot?#iefixprvkr') format('embedded-opentype'),
		url('../fonts/glyphicons-halflings-regular.ttf?prvkr') format('truetype'),
		url('../fonts/glyphicons-halflings-regular.woff?prvkr') format('woff'),
		url('../fonts/glyphicons-halflings-regular.woff2?prvkr') format('woff'),
		url('../fonts/glyphicons-halflings-regular.svg?prvkr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;

}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'glyphicons-halflings-regular';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width:1500px){
	.g-container {
		width: 1380px;
	}
	.m-categoryIndex{
		margin-right: 25px;
	}
	.u-openVideoItem {
		margin-left: 25px;
		transition: .5s;
	}	
	.u-openVideoItem.topItem {
		width: 385px;
	}
}
@media screen and (min-width:1200px) and (max-width:1500px){
	.g-container {
		width: 1180px;
	}
	.m-categoryIndex{
		margin-right: 20px;
	}
	.u-openVideoItem {
		margin-left: 20px;
		transition: .5s;
	}	
	.u-openVideoItem.topItem {
		width: 380px;
	}
}
@media screen and (max-width:1200px){
	.g-container {
		width: 960px;
		margin:0 auto;
	}
	.m-categoryIndex{
		margin-right: 15px;
	}
	.u-openVideoItem {
		margin-left: 15px;
	}
}
html,body{
	width:100%;
	margin:0;
	padding:0;
	color:#000;
	position:relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Arial, 'Hiragino Sans GB', 宋体, Georgia, serif;
	font-size: 12px;
}
*{
	margin:0;
	padding:0;
}
article,aside,details,figcaption,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display: block;
}
a{
	color:#333333;
	cursor: pointer;
}
a:hover{
	text-decoration: none;
	color:#285e90;
}
ul{
	list-style: none;
	padding-left: 0em;
}
img{
	width:100%;
}
.clear{
	clear:both;
	zoom:1;
}
.left,.f-fl {
	float: left;
}
.right{
	float: right;
}
.u-nav{
	line-height: 14px;
	padding:11px 0;
}
.mask{
	display: none;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left: 0;
	background-color:rgba(0,0,0,.3);
	z-index:99;
}
header{
	width:100%;
	height:80px;
	border-bottom:1px solid #ff8181;
	text-align: center;
	line-height: 127px;
	vertical-align: center;
}
.f-c6 {
	color: #666666;
}
.f-c9{
	color: #999999;
}
.f-cf{
	color:#ffffff;
}
.f-cb{
	zoom:1;
}
.f-f0 {
	font-family: "Arial","Hiragino Sans GB","Microsoft YaHei",\5fae\8f6f\96c5\9ed1,"Helvetica","sans-serif";
}
.f-db{
	display: block;
}
.f-oh {
	overflow: hidden;
}
.g-container {
	margin:0 auto;
}
.rel,.f-pr{
	position: relative;
}
/*index.html*/
.g-wrap{
	width:100%;
}
.m-topnav{
	background: #ebebeb;
	border-bottom: 1px solid #dddddd;
	height:36px;
}
.m-midnav {
	height: 54px;
	margin-bottom: 30px;
}
.m-midnav .navbar-form{
	margin-top: 25px;
}
.m-botnav {
	z-index: 800;
	height: 40px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	margin-top: 15px;
}
.m-botnav .main {
	height: 100%;
	background: #337ab7;
}
.m-botnav .mainnav .link {
	display: block;
	padding: 0 13px;
	font-size: 16px;
	line-height: 40px;
	height: 40px;
}
.link.current {
	background: #285e90;
}
.link:hover{
	background: #285e90;
	color: #ffffff;
}
.nowrp, .f-thide {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.m-botnav li{
	padding-left: 5px;
}
.slide{
	z-index: 500;
	height: 425px;
	background: #282828;
	box-shadow: 0 0 5px #aaaaaa;
}
.imgitem{
	width: 100%;
	height: 425px;
}
.m-indexMain *, .m-indexDetail * {
	box-sizing: border-box;
}
.m-indexDetail {
	background-color: #f0f0f0;
	padding-top: 48px;
}
.clear:after, .f-cb:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}
.m-categoryIndex {
	width: 180px;
	height: 315px;
	margin-right: 15px;
	margin-bottom: 55px;
	padding-top: 28px;
	background: #888888;
	transition: .5s;
}
.m-categoryIndex a{
	color:#ffffff;
}
.m-social{
	background-color: #970700;
}
.m-zzfl {
	background-color: #257397;
}
.m-syjj{
	background-color: #4095e8;
}
.m-whjy{
	background-color: #185c37;	
}
.m-ty{
	background-color: #62320e;	
}
.m-kpkj{
	background-color: #7d9519;
}
.m-yxjk{
	background-color: #10ae58;
}
.m-zrhj{
	background-color: #0064b7;
}
.m-categoryIndex .ciTitle {
	font-size: 24px;
	font-weight: normal;
	line-height: 1.25em;
	text-align: center;
}
.m-categoryIndex .ciList.shortList {
	padding: 0 12px 0 26px;
}
.m-categoryIndex .ciList {
	margin-top: 20px;
	font-size: 14px;
}
.m-categoryIndex .ciList>li {
	display: inline-block;
	margin-bottom: 1.5em;
	margin-left: 12px;
	width: 4em;
	font-size: 14px;
	text-align: left;
	white-space: nowrap;
}
.u-openVideoItem {
	width: 180px;
	min-height: 147px;
	margin-left: 15px;
	margin-bottom: 21px;
}
.u-openVideoItem.topItem {
	width: 375px;
}


/*footer*/
.m-footer {
	border-top: 1px solid #dddddd;
	background: #e6e6e6;
	padding: 20px 0;
	text-align: center;
}