@font-face {
  font-family: 'glyphicons-halflings-regular';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/glyphicons-halflings-regular.eot?prvkr');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefixprvkr') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.ttf?prvkr') format('truetype'), url('../fonts/glyphicons-halflings-regular.woff?prvkr') format('woff'), url('../fonts/glyphicons-halflings-regular.woff2?prvkr') format('woff'), url('../fonts/glyphicons-halflings-regular.svg?prvkr#icomoon') format('svg');
}
[class^="icon-"], [class*=" icon-"] {
  text-transform: none;
  font-family: 'glyphicons-halflings-regular';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width:1500px) {
  .g-container {
    width: 1380px;
  }
  .m-categoryIndex {
    margin-right: 25px;
  }
  .u-openVideoItem {
    margin-left: 25px;
    transition: .5s;
  }
  .u-openVideoItem.topItem {
    width: 385px;
  }
  /*列表页卡片字体*/
  .m-card-li {
    font-size: 18px;
  }
  .m-card-li p {
    font-size: 15px;
  }
}
@media screen and (min-width:1200px) and (max-width:1500px) {
  .g-container {
    width: 1180px;
  }
  .m-categoryIndex {
    margin-right: 20px;
  }
  .u-openVideoItem {
    margin-left: 20px;
    transition: .5s;
  }
  .u-openVideoItem.topItem {
    width: 380px;
  }
  .m-card-li {
    font-size: 18px;
  }
  .m-card-li p {
    font-size: 15px;
  }
}
@media screen and (max-width:1200px) {
  .g-container {
    width: 960px;
    margin: 0 auto;
  }
  .m-categoryIndex {
    margin-right: 15px;
  }
  .u-openVideoItem {
    margin-left: 15px;
  }
  .m-card-li {
    font-size: 15px;
  }
  .m-card-li p {
    font-size: 12px;
  }
}
html, body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Arial, 'Hiragino Sans GB', 宋体, Georgia, serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
}
article, aside, details, figcaption, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
a {
  cursor: pointer;
  color: #333333;
}
a:hover {
  text-decoration: none;
  color: #285e90;
}
ul {
  padding-left: 0em;
  list-style: none;
}
img {
  width: 100%;
}
.clear {
  clear: both;
  zoom: 1;
}
.left, .f-fl {
  float: left;
}
.right {
  float: right;
}
.u-nav {
  padding: 11px 0;
  line-height: 14px;
}
.mask {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}
header {
  width: 100%;
  height: 80px;
  text-align: center;
  vertical-align: center;
  border-bottom: 1px solid #ff8181;
  line-height: 127px;
}
.f-c6 {
  color: #666666;
}
.f-c9 {
  color: #999999;
}
.f-cf {
  color: #ffffff;
}
.f-cb {
  zoom: 1;
}
.f-f0 {
  font-family: "Arial", "Hiragino Sans GB", "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
}
.f-db {
  display: block;
}
.f-oh {
  overflow: hidden;
}
.g-container {
  margin: 0 auto;
}
.rel, .f-pr {
  position: relative;
}
.bg {
  background-color: #337ab7;
}

/*index.html*/

.g-wrap {
  width: 100%;
}
.m-topnav {
  height: 36px;
  border-bottom: 1px solid #dddddd;
  background: #ebebeb;
}
.m-midnav {
  height: 54px;
  margin-bottom: 30px;
}
.m-midnav .navbar-form {
  margin-top: 25px;
}
.m-botnav {
  z-index: 800;
  height: 40px;
  margin-top: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.m-botnav .main {
  height: 100%;
  background: #337ab7;
}
.m-botnav .mainnav .link {
  display: block;
  height: 40px;
  padding: 0 13px;
  font-size: 16px;
  line-height: 40px;
}
.link.current {
  background: #285e90;
}
.link:hover {
  color: #ffffff;
  background: #285e90;
}
.nowrp, .f-thide {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.m-botnav li {
  padding-left: 5px;
}
.slide {
  z-index: 500;
  height: 425px;
  background: #282828;
  box-shadow: 0 0 5px #aaaaaa;
}
.imgitem {
  width: 100%;
  height: 425px;
}
.m-indexMain *, .m-indexDetail * {
  box-sizing: border-box;
}
.m-indexDetail {
  padding-top: 48px;
  background-color: #f0f0f0;
}
.clear:after, .f-cb:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '.';
}
.m-categoryIndex {
  width: 180px;
  height: 315px;
  margin-right: 15px;
  margin-bottom: 55px;
  padding-top: 28px;
  transition: .5s;
  background: #888888;
}
.m-categoryIndex:hover {
  opacity: 0.8;
}
.m-categoryIndex a {
  color: #ffffff;
}
.m-social {
  background-color: #970700;
}
.m-zzfl {
  background-color: #257397;
}
.m-syjj {
  background-color: #4095e8;
}
.m-whjy {
  background-color: #185c37;
}
.m-ty {
  background-color: #62320e;
}
.m-kp {
  background-color: #7d9519;
}
.m-kj {
  background-color: #4095E8;
}
.m-yxjk {
  background-color: #10ae58;
}
.m-zrhj {
  background-color: #0064b7;
}

/*.shu{
	width: 50px;
	font-size: 3em;
	word-wrap: break-word;
	letter-spacing: 20px;
	margin: 0 auto;
}*/

.u-openVideoItem:hover .oviImg img {
  transition: 1s;
  transform: scale(1.1);
}
.m-categoryIndex .ciTitle {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.25em;
}
.m-categoryIndex .ciList.shortList {
  padding: 0 12px 0 50px;
}
.m-categoryIndex .ciList {
  margin-top: 20px;
  font-size: 14px;
}
.m-categoryIndex .ciList>li {
  display: inline-block;
  width: 4em;
  margin-bottom: 1.5em;
  margin-left: 12px;
  text-align: left;
  white-space: nowrap;
  font-size: 14px;
}
.u-openVideoItem {
  width: 180px;
  min-height: 147px;
  margin-left: 15px;
}
.u-openVideoItem.topItem {
  width: 375px;
}
.u-openVideoItem.topItem .oviImg {
  height: 268px;
}
.u-openVideoItem .oviImg {
  transition: .5s;
  background-color: rgb(230, 230, 230);
}
.u-openVideoItem .oviImg img {
  display: block;
  width: 100%;
  transition: .5s cubic-bezier(0, 0.6, 0.3, 1);
}
.u-openVideoItem.topItem .oviImgText {
  font-size: 14px;
}
.u-openVideoItem .oviImgText {
  bottom: 0;
  width: 100%;
  padding: 0 .5em;
  background-color: rgba(0, 0, 0, 0.6);
  line-height: 1.5em;
}
.u-openVideoItem.topItem .oviTitle {
  font-size: 16px;
}
.u-openVideoItem .oviTitle {
  overflow: hidden;
  height: 1.25em;
  margin-top: .65em;
  transition: .25s;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 1.25em;
}

/*模块框*/

.modal-dialog .modal-header {
  min-height: 16.43px;
  padding: 15px;
  color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}
.modal-dialog .close {
  color: #ffffff;
}
.modal-dialog .modal-title {
  margin-left: 25%;
}
.modal-dialog .modal-content {
  width: 70%;
  margin-left: 10%;
}
.modal-dialog .modal-body {
  padding: 8%;
}
.modal-dialog .input-group {
  margin-bottom: 3%;
}
.modal-dialog .btn-group {
  display: block;
  margin: 5%;
  margin-bottom: 10%;
}
.modal-dialog .login {
  width: 100%;
}
.m-unlogin {
  width: 85%;
  height: 40px;
  margin: 0 auto;
  padding: 2px 0 9px 0;
  line-height: 16px;
}
.m-unlogin .forgetpwd {
  float: left;
  height: 12px;
  cursor: pointer;
  text-decoration: none;
  color: #999;
  font-size: 12px;
  line-height: 16px;
}
.m-unlogin .u-regbtn {
  float: right;
  cursor: pointer;
  color: #999;
  font-size: 12px;
  line-height: 16px;
}
.m-unlogin a:hover {
  text-decoration: underline;
  color: #285e90;
}
.g-sTool {
  position: fixed;
  z-index: 9999;
  top: 80%;
  left: 94%;
  display: none;
  overflow: hidden;
  width: 78px;
  padding: 3px;
  background: #f6f5f5;
}
.m-st1 {
  position: relative;
  width: 156px;
  height: 77px;
  -webkit-transition: left 0.3s cubic-bezier(1, 0.55, 0, 0.84);
  /* Safari 和 Chrome */
  -moz-transition: left 0.3s cubic-bezier(1, 0.55, 0, 0.84);
  /* Firefox 4 */
  -o-transition: left 0.3s cubic-bezier(1, 0.55, 0, 0.84);
  transition: left 0.3s cubic-bezier(1, 0.55, 0, 0.84);
  border-bottom: 5px solid #f6f5f5;
}
.m-st1:hover {
  left: -78px;
}

/*轮播图样式*/

.slider, .slider .main, .slider .main .main-i {
  position: relative;
  width: 100%;
  height: 450px;
}

/*幻灯片区域*/

.slider .main {
  overflow: hidden;
}

/*每一个幻灯片的样式*/

.slider .main .main-i {
  overflow: hidden;
}
.slider .main .main-i img {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider .main .main-i .main-i_right {
  right: -50%;
}
.slider .main .main-i .caption {
  position: absolute;
  z-index: 9;
  top: 30%;
  right: 50%;
}
.slider .main .main-i .caption h2 {
  text-align: right;
  color: #b5b5b5;
  font-size: 40px;
  line-height: 50px;
}
.slider .main .main-i .caption h3 {
  text-align: right;
  color: #000000;
  font-family: 'Open Sans Condensed';
  font-size: 70px;
  line-height: 70px;
}

/*控制按钮区域*/

.slider .ctrl {
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;
  height: 13px;
  text-align: center;
  line-height: 13px;
}
.slider .ctrl .ctrl-i {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 13px;
  margin-left: 1px;
  background-color: #666;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  /*透明度为30%的阴影*/
}
.slider .ctrl .ctrl-i img {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 0;
  width: 100%;
  -webkit-transition: all .2s;
  opacity: 0;
}

/*hover到控制按钮的样式*/

.slider .ctrl .ctrl-i:hover {
  background-color: #f0f0f0;
}
.slider .ctrl .ctrl-i:hover img {
  z-index: 10;
  bottom: 13px;
  opacity: 1;
  -webkit-box-reflect: below 0px -webkit-gradient( linear, left top, left bottom, from( transparent), color-stop( 50%, transparent), to( rgba(255, 255, 255, .3)));
}

/*active 当前展示的状态*/

.slider .ctrl .ctrl-i_active:hover, .slider .ctrl .ctrl-i_active {
  background-color: #000;
}
.slider .ctrl .ctrl-i_active:hover img {
  opacity: 0;
}

/*幻灯片切换的样式*/

.slider .main .main-i {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 50%;
  -webkit-transition: all .5s;
  opacity: 0;
}
.slider .main .main-i h2 {
  margin-right: 45px;
}
.slider .main .main-i h3 {
  margin-right: -45px;
}
.slider .main .main-i h2, .slider .main .main-i h3 {
  -webkit-transition: all 1s .8s;
  opacity: 0;
}
#main_background, .slider .main .main-i_active {
  z-index: 2;
  right: 0;
  opacity: 1;
}
#main_background {
  z-index: 1;
}
.slider .main .main-i_active h2, .slider .main .main-i_active h3 {
  margin-right: 0px;
  opacity: 1;
}
.slider .main .main-i .caption {
  margin-right: 13%;
}

/*footer*/

.m-footer {
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #dddddd;
  background: #e6e6e6;
}
.m-footer .cr {
  color: #999;
  line-height: 18px;
}

/*list.html*/

#list .m-botnav {
  box-shadow: none;
}
.c-li-con {
  background-color: #285e90
}
.c-li-con h1 {
  margin: 0;
  padding: .2em .5em;
  color: #fff;
}
.m-col.left {
  width: 65%;
}
.m-col.right {
  width: 30%
}
.m-card-li {
  margin-bottom: 1.5em;
  padding: .5em .5em .5em .8em;
  word-break: break-all;
  background-color: #fff;
  box-shadow: 0 1px 7px #bcbcbc;
}
.m-card-li h2 {
  margin: 0 0 .2em 0;
}
.m-card-li img {
  float: right;
  width: auto;
  height: 6.5em;
	margin-left:.2em; 
}
.m-card-li p {
  margin: .5em 0 0 0;
}
.m-card-li p span {
  float: right;
  margin-right: .8em;
}
.page-bt {
  margin-bottom: 1em;
  text-align: center;
}
.page-bt a {
  font-size: 1.5em;
}
